.header {
  background: var(--c-primary-70);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(82, 97, 107, 0.5);
  position: sticky;
  top: 0;
  z-index: 99;

  .logo {
    font-size: 6.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .box {
    display: inline-flex;
    align-items: center;

    svg {
      & + * {
        margin-left: 15px;
      }
    }

    & + * {
      margin-left: 15px;
    }
  }
}

.layer {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1536px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(1, 1, 1, 0.9);
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 650ms;

  .menuModal {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .cancel {
      font-size: 1.7em;
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--c-theme);
      box-shadow: 0 0 25px 2px rgba(246, 201, 14, 0.2);
    }

    h1 {
      text-align: center;
      color: var(--c-theme);
    }

    .menu {
      display: grid;
      gap: 25px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--c-gray);
        box-shadow: 0 0 20px 1.5px rgba(246, 201, 14, 0.2);
        transition: all 300ms;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .box {
        display: inline-flex;
        align-items: center;

        svg {
          & + * {
            margin-left: 15px;
          }
        }

        & + * {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (--m) {
  .header {
    .logo {
      font-size: 5.2em;
    }

    .box {
      & + * {
        font-size: 15px;
      }
    }
  }
}
