.article {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: var(--c-gray);
    text-align: center;
    max-width: 780px;
  }

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: var(--c-theme);
    }
  }
}

@media (--t) {
  .article {
    h1 {
      margin-top: 25px;
      font-size: 25px;
      font-weight: 100;
      font-style: italic;
      color: var(--c-gray);
      text-align: center;
      max-width: 780px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media (--m) {
  .article {
    h1 {
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 15px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
