.section1 {
  grid-template-columns: 1fr 429px;
}

.section2 {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 48px;
    text-align: center;
    width: 100%;
  }

  .tools {
    display: flex;
    align-self: center;
    margin-top: var(--s-layout-gap);

    svg {
      font-size: 6rem;
      width: 100px;

      &:nth-child(1) {
        path {
          fill: #f06529;
        }
      }
      &:nth-child(2) {
        path {
          fill: #f0db4f;
        }
      }
      &:nth-child(3) {
        path {
          fill: #2965f1;
        }
      }
      &:nth-child(4) {
        path {
          fill: #61dbfb;
        }
      }

      & + * {
        margin-left: var(--s-layout-gap);
      }
    }
  }
}

.section3 {
  grid-template-columns: 500px 1fr;
  gap: 19px;

  h1 {
    text-align: end;
  }
}

.section4 {
  h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: var(--s-layout-gap);

    span {
      text-decoration: underline;
    }
  }

  .subSection {
    grid-template-columns: 1fr 500px;
    gap: var(--s-layout-gap);

    .privileges {
      display: grid;
      gap: 15px;
    }
  }
}

.section5 {
  margin-bottom: var(--s-layout-gap);
}
