@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 0;
  font: inherit;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--c-primary);
}

h1 {
  color: var(--c-text);
  font-size: 72px;
  font-weight: bold;
}

@media (--t) {
  h1 {
    font-size: 52px;
  }
}

@media (--m) {
  h1 {
    font-size: 35px;
  }
}

.theme {
  color: var(--c-theme);
}

.pink {
  color: var(--c-pink);
}

.blue {
  color: var(--c-blue);
}

.white {
  color: var(--c-text);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--c-theme);
}
