:root {
  --c-primary: #010101;
  --c-primary-70: rgba(1, 1, 1, 0.7);
  --c-text: #f0f5f9;
  --c-gray: #747576;
  --c-theme: #f6c90e;
  --c-theme-hover: #826904;
  --c-pink: #ff6584;
  --c-blue: #61dbfb;
  --c-bound: rgba(82, 97, 107, 0.3);
  --c-gray-20: rgba(116, 117, 118, 0.2);

  --s-layout-gap: 70px;
}

@media (--m) {
  :root {
    --s-layout-gap: 40px;
  }
}
